a[href^="http"] {
    color: #f70;
}

a[href*="google"] {
    color: #666;
}

a[target="_blank"]::after {
    content: "\21F1";
    display: inline-block;
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


